---
import ExperienceItem from "./ExperienceItem.astro";
import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const t = getI18N({ currentLocale });
---

<ol class="relative mt-16">
  {
    t.sections.experience.experiences.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
