---
import Br from "./icons/Br.astro";
import Es from "./icons/Es.astro";
import Us from "./icons/Us.astro";
---

<div class="w-full flex gap-3">
  <a href="/" data-astro-reload>
    <Br class="size-6 cursor-pointer" />
  </a>
  <a href="/en" data-astro-reload>
    <Us class="size-6 cursor-pointer" />
  </a>
  <a href="/es" data-astro-reload>
    <Es class="size-6 cursor-pointer" />
  </a>
</div>
