---
import Br from "./icons/Br.astro";
import Es from "./icons/Es.astro";
import Gb from "./icons/Gb.astro";
---

<div class="w-full flex gap-3">
  <a href="/"  transition:persist>
    <Br class="size-6 cursor-pointer" />
  </a>
  <a href="/en" transition:persist>
    <Gb class="size-6 cursor-pointer" />
  </a>
  <a href="/es" transition:persist>
    <Es class="size-6 cursor-pointer" />
  </a>
</div>
